@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Remove list styles on ul */
ul {
  list-style: none;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  background-color: #242635;
  color: white;
}

/* A elements */
a {
  text-decoration: none;
  color: white;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */

button {
  font: inherit;
}

span{
  display: block;
}

:root{
  --primario: #242635;
  --secundario: #34b0be; 
}

/****************Tipografia ****************/

.hero_texto-Big{
  font-size: clamp(1.2rem, 5vw, 4rem);
}

.hero_texto-md{
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.hero_texto-xl{
  font-size: clamp(3rem, 8vw, 100px);
  font-weight: 600;
  position: relative;
}

h2{
  padding-bottom: 2rem;
}

/* Linea arriba del nombre */

.hero_texto-xl::after{
  content: " ";
  width: 70%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.692);
  position: absolute;
  left: 0;
  top: 5px;
}

.text_blue{
  color: var(--secundario);
}

.text-center{
  text-align: center;
}

/**************** Header section *****************/

header{
  padding-inline: 1rem;
  position: fixed;
  width: 100%;
  background-color: var(--primario);
  z-index: 100;
}

.boton{
  position: absolute;
  right: 12px;
  top: 10px;
  background-color: transparent;
  border: none;
  z-index: 100;
  background-color: var(--primario);
}

/**************** Navbar section *****************/

nav{
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--primario);
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 400ms ease;
}

.nav_items{
  padding-block: min(20vh, 200px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3rem;
}

.close{
  display: none;
}

.visible .hamb{
  display: none;
}

.visible .close{
  display: block;
}

.visible{
  transform: translateX(0); 
}

.overflow{
  overflow: hidden;
}

/**************** Hero section *****************/

#hero{
  padding-block: 3rem;
}

.hero_text-izq{
  flex-basis: 100px;
}

.hero_text-der{
    transform: translate(10%, 5%);
}

.container_texto-hero{
  height: 430px;
  padding: 45px 2.5rem 1rem 1rem;
  display: flex;
  gap: 5vw;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.container_img-redes{
  padding-top: 1rem;
  display: flex;
  gap: 10px;
}

.img_redes{
  background-color: white;
  padding:0.3rem;
  border-radius: 50%;
}

.container_logos{
  width: min(80%, 500px);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: #5c5b5a;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  position: relative;
}

.container_img{
  width: 25%;
  background-color: white;
  border-radius: 10px;
  padding: 0.4rem;
}

.img_logo{
  margin: 0 auto;
  height: 40px;
}
.hero_foto{
  position: absolute;
  bottom: 50px;
  z-index: -1;
}

.hero_foto-img{
  border-radius: 50%;
  width: min(100%, 500px);
  margin: 0 auto;
}

/* ***************  about section ********************* */

#about{
  width: min(80%, 600px);
  margin: 0 auto;
  padding-block: 3rem;
}

/* ***************  servicios section ********************* */

#servicios{
  padding-block: 3rem;
}

.container_servicios{
  width: min(80%, 700px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  overflow: auto;
  gap: 20px;
  padding: 1rem;
}


.item{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  background-image: url('./Vectores/Ellipse\ 14.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.item *{
  padding-block: 0.3rem;
}

.item img{
  margin: 0 auto;
}

.container_servicios::-webkit-scrollbar {
    width: 10px;
}

.container_servicios::-webkit-scrollbar-track {
    background-color: transparent;
}

.container_servicios::-webkit-scrollbar-thumb {
    background-color: #aca9a6a8;
    border-radius: 10px;
}


/* ***************  habilidades section ********************* */

#habilidades{
  padding-block: 3rem;
}

.barras_container{
  width: min(80%, 1000px);
  margin: 0 auto;
}

.barra_caja{
  width: min(90%, 700px);
  margin: 0 auto;
  padding-block: 0.5rem;
}

.barra{
  background-color: aliceblue;
  height: 15px;
  
  border-radius: 7px;
}

.barra_azul{
  height: 100%;
  background-color: var(--secundario);
  border-radius: 7px;
}

.barra_85{
  width: 85%;
  position: relative;
}

.barra_85::after{
  content: "85%";
  position: absolute;
  left: 97%;
  top: -28px;
  color: var(--secundario);
}

.barra_95{
  width: 95%;
  position: relative;
}

.barra_95::after{
  content: "95%";
  position: absolute;
  left: 97%;
  top: -28px;
  color: var(--secundario);
}

.barra_80{
  width: 80%;
  position: relative;
}

.barra_80::after{
  content: "80%";
  position: absolute;
  left: 97%;
  top: -28px;
  color: var(--secundario);
}

/* ***************  Portafolio section ********************* */

#portafolio{
  padding-block: 3rem;
}

.portafolio_container{
  display: flex;
  overflow: auto;
  gap: 20px;
  padding: 1rem;
  width: min(90%, 1200px);
  margin: 0 auto;
}

.portafolio_container img{
  width: min(80%, 500px);
}

.portafolio_container::-webkit-scrollbar {
    width: 5px;
}

.portafolio_container::-webkit-scrollbar-track {
    background-color: transparent;
}

.portafolio_container::-webkit-scrollbar-thumb {
    background-color: #aca9a6a8;
    border-radius: 10px;
}

/* ***************  contacto section ********************* */

#contacto{
  margin: 0 auto;
  width: min(90%, 600px);
}

#contacto > *{
  margin-block: 2rem;
}

#contacto .item{
  width: 200px;
  padding-block: 3rem;
}

.item *{
  padding-block: 0.3rem;
}

.item img{
  margin: 0 auto;
}

.email{
  margin-left: auto;
}

/* ***************  Footer section ********************* */

footer{
  min-height: 3rem;
  background-color: #5c5b5a;
  display: grid;
  place-content: center;
}


.scroll-up{
  position: fixed;
  top: 0;
  right: 10px;
  transform: translateY(-100%) scale(0);
  cursor: pointer;
  transition: transform 400ms ease;
}

.translate{
  transform: translateY(85vh) scale(1);
}

.scroll-up img{
  width: 60px;
  border-radius: 50%;
}

@media screen and (min-width: 768px){
  
  .boton{
    visibility: hidden;
  }

  nav{
    padding: 0;
    position: relative; 
    height: fit-content;
    transform: translateX(0);
  }

  .nav_items{
  padding-block: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  font-size: 1rem;
  }

  .nav_item:hover a{
    color: var(--secundario);
  }

  .hero_text-der{
    transform: translate(-5%, 6%);
  }

  .container_texto-hero{
    height: 550px;
  }

}